<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="flex flex-col items-center">
        <h1 class="text-5xl font-bold max-w-md">Welcome again</h1>
        <p class="py-6 max-w-3xl">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facilis ducimus neque ex voluptas voluptatem numquam error. Beatae harum iste quisquam atque? Corporis, eum fuga.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
